.bg-light {
    background-color:#AA4465!important;
}

#contenedorPortafolioGeneral {
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

#contenedorAboutMe {
    background-color:#000000;
    padding-top: 100px;
    padding-bottom: 100px;
}

#contenedorProyectos {
    background-color: #FFD9DA;
    padding-top: 100px;
    padding-bottom: 100px;
}