
.banner {
  background-image: url(../../assets/img/descriptiondesing.jpg);
}

.pJustify {
  display: flex;
  justify-content: center;
}

.sectionColorYellow {
  background-color: #fed136;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
}

/*Pie de pagina con rrss*/

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #000;
}

.link {
  color: #fed136;
}

.link:hover {
  color: #fff;
}