.bg-light {
    background-color: #6BBFAB!important;
    color: #ffff;
}

#home {
    color: black;
    width: 100%;
    padding: 10%;
    background-image: url(../../assets/imgmisfinanzas/money-256312_1920.jpg);
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    height: 90px;
}

.logoMF {
    height: 171px;
    margin-bottom: 100px;
}

#colorWhite {
    padding: 2%;
    background-color: white;
    color: #444;

}

#colorGreen {
    padding: 2%;
    background-color: #6BBFAB;
    color: white;
}

.textouno {
    text-align: center;
}

#contexto {
    background-color: #6BBFAB;
    color: white;
}

.etapas {
    text-align: center;
}
/* footer */

footer {
    text-align: center;
}
a {
    color: #444;
}

a:hover {
    color: #6BBFAB;
}

a:active {
    color: black;
}