.bg-light {
  background-color: #AA4465!important;
  color: white;
}

#home {
  color: black;
  width: 100%;
  padding: 10%;
  background: linear-gradient(270deg, #cc2970, #c6548b, #eea7c9, #eec8da);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

#coni {
  color: black;
  text-align: center;
  font-size: 75px;
}

#ux {
  color: #444;
  text-align: center;
  font-size: 50px;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




#contenedorAboutMe {
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  text-align: center;
  padding: 5%;
}

.quienSoy {
  text-align: center;
}

#contenedorProyectos {
  background-color: #FFD9DA;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

footer {
  background-color: #AA4465;
  color: white;
  padding: 2%;
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: purple;
}

a:active {
  color: black;
}

/* Invisible texto */

figcaption {
  display: none;
  transition: all .5s;
}

/* Visible texto */

figure:hover>figcaption {
  display: block;
  transition: all .5s;
}

/* otro ejemplo */

.div-imagen {
  display: inline-block;
  position: relative;
}

.div-imagen>div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px;
  margin: 0;
}

.desvanecer:hover {
  opacity: 0.30;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

/* otro */

.img-container {
  width: 200px;
  height: 150px;
  padding: 10px 10px 30px 10px;
  background: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.img-container:before {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  background: #fff;
  opacity: 0;
  transition: opacity .1s ease-out;
}

.img-container:hover:before {
  opacity: 1;
}

.img-container .text-container {
  width: inherit;
  padding: 5px 15px;
  color: #444;
  position: absolute;
  top: 100%;
}

.img-container:hover .text-container {
  top: 0;
}

p {
  color: #888;
  font-size: .75em;
  line-height: .2em;
}

i {
  font-style: normal;
}

/* css fondo */